%nav.mb-3{ 'aria-label': 'breadcrumb' }
  %ol.breadcrumbs-list
    %li.breadcrumbs-list-item
      = link_to user_panel_dashboard_path, class: 'breadcrumbs-list-item__link' do
        = tabler_icon 'home'
        %span Home
    %li.breadcrumbs-list-item
      = link_to user_panel_checklists_path, class: 'breadcrumbs-list-item__link' do
        = tabler_icon 'chevron_right'
        %span Checklists
    - if @checklist
      %li.breadcrumbs-list-item
        = link_to user_panel_checklist_path(@checklist), class: 'breadcrumbs-list-item__link' do
          = tabler_icon 'chevron_right'
          %span= @checklist.name
