%section.page
  .mb-8
    = render partial: 'breadcrumbs'
    .page__header
      %h2.page__title= @checklist.name

      .page__actions{ data: { behavior: 'checklist-actions' } }
        %checklist-actions{ 'v-bind': render(template: 'user_panel/checklists/show', formats: %i[json]) }
          .btn.btn--icon
            %i.icon.icon-dots-vertical.text-2xl

      = vite_typescript_tag 'entrypoints/user_panel/checklists/checklistActions.ts'

  .page__content
    .checklist-board{ data: { behavior: 'tasks-manager' }, style: "background-image: url(#{safe_attachment_path(@checklist.thumbnail)})" }
      %tasks-manager{ 'v-bind': render(template: 'user_panel/checklists/tasks/index', formats: %i[json]) }

    = vite_typescript_tag 'entrypoints/user_panel/tasks/tasksManager.ts'
