%section.page
  .mb-8
    = render partial: 'breadcrumbs'
    .page__header
      %h2.page__title= @checklist.name

      .page__actions{ data: { behavior: 'checklist-actions' } }
        %checklist-actions{ 'v-bind': render(template: 'user_panel/checklists/show', formats: %i[json]) }
          .btn.btn--icon= tabler_icon 'dots_vertical'

      = vite_typescript_tag 'entrypoints/user_panel/checklists/checklistActions.ts'

  .board{ style: "background-image: url(#{safe_attachment_path(@checklist.thumbnail)})" }
    .board__column.text-center
      Tasks here.
