%nav.bg-white.border-b.border-gray-200.px-4.py-2.5.fixed.left-0.right-0.top-0.z-50
  .flex.flex-wrap.justify-between.items-center
    = link_to user_panel_dashboard_path do
      %h1.text-xl.font-bold.leading-tight.tracking-tight.text-gray-900 [App Name]

    .flex.items-center.gap-2
      .btn.btn--icon= tabler_icon 'bell'

      = form_with url: destroy_user_session_path, method: :delete do |f|
        = f.button type: 'submit', class: 'btn' do
          .flex.items-center.gap-2
            %span= tabler_icon 'logout'
            %span Logout
