%aside.sidebar{ class: ('sidebar--mini' if cookies['isSidebarMini'] == 'true') }
  .flex.justify-end.p-3{ data: { behavior: 'sidebar-toggle' } }
    %sidebar-toggle
      .btn.btn--icon= tabler_icon 'arrows_horizontal'

  = vite_typescript_tag 'entrypoints/layout/sidebarToggle'

  .sidebar__container
    %ul.sidebar__nav
      %li
        = active_link_to user_panel_dashboard_path, class: 'sidebar__nav-link' do
          = tabler_icon 'home'
          %span Home
      %li
        = active_link_to user_panel_checklists_path, class: 'sidebar__nav-link' do
          = tabler_icon 'list_details'
          %span Checklists
    %ul.sidebar__nav
      %li
        = link_to '#', class: 'sidebar__nav-link' do
          = tabler_icon 'settings'
          %span Settings
      %li
        = active_link_to edit_user_registration_path, class: 'sidebar__nav-link' do
          = tabler_icon 'user_hexagon'
          %span Profile
