!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/

    %title ToDo App with Rails & Vue

    = csrf_meta_tags
    = csp_meta_tag

    = vite_client_tag

    = vite_stylesheet_tag 'application.scss'
    = vite_typescript_tag 'application.ts'
  %body.bg-white
    = render partial: 'layouts/user_panel/navbar'

    %main.main
      = render partial: 'layouts/user_panel/sidebar'
      = yield
