!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ charset: 'utf-8' }/

    = stylesheet_link_tag wicked_pdf_asset_base64 'pdf'
  %body
    %main
      %h1 Checklist: #{presenter.checklist.name}

      %table.table-striped
        %tbody
          - presenter.tasks.each do |task|
            %tr
              - if task.completed
                %td.checkbox.text-primary= tabler_icon 'square_check'
              - else
                %td.checkbox= tabler_icon 'square'
              %td
                %h4.task-name= task.name
                %p= task.description

          - if presenter.tasks.empty?
            %tr
              %td.text-center This checklist is empty
