%section.page
  .mb-8
    = render partial: 'breadcrumbs'
    %h1.page__title Your Profile

  .grid.grid-cols-2.gap-4
    %div
      %h2.text-xl.font-medium.mb-4 Account Details

      %div{ data: { behavior: 'edit-user-form' } }
        %edit-user-form{ 'v-bind': render(partial: 'users/registrations/edit_form') }
          = render partial: 'users/registrations/edit_form_skeleton'

      = vite_typescript_tag 'entrypoints/user_auth/editUserForm.ts'

    %div
      %h2.text-xl.font-medium.mb-4 Two Factor Authentication

      - if current_user.otp_required_for_login
        %div{ data: { behavior: 'disable-otp-auth-form' } }
          %disable-otp-auth-form{ 'v-bind': render(partial: 'user_panel/otp_auth/disable_form') }
            = render partial: 'user_panel/otp_auth/disable_form_skeleton'

        = vite_typescript_tag 'entrypoints/user_panel/otp_auth/disableForm.ts'
      - else
        %div{ data: { behavior: 'enable-otp-auth-form' } }
          %enable-otp-auth-form{ 'v-bind': render(partial: 'user_panel/otp_auth/enable_form') }
            = render partial: 'user_panel/otp_auth/enable_form_skeleton'

        = vite_typescript_tag 'entrypoints/user_panel/otp_auth/enableForm.ts'
